*{
    margin: 0;
    padding: 0;
}

.logo{
    font-size: 40px;
    font-family: 'Cinzel', serif;
}

.header{
    padding: 30px 30px 30px 30px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.menu-it{
    text-decoration: none;
    color: black;
    margin-right: 40px;
}

.menu-it:last-child{
    margin: 0; 
}

.butt2{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 12px 16px ;
    font-family: 'Cinzel', serif;

}

.butt1{
    text-decoration: none;
    color: black;
    margin-right: 40px;
    font-family: 'Cinzel', serif;
}

 


